@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yol-tarifi-btn {
  width: 150px; /* Sabit genişlik */
  height: 50px; /* Sabit yükseklik */
  font-size: 16px; /* Tutarlı yazı boyutu */
  padding: 10px; /* Tutarlı iç boşluk */
  box-sizing: border-box; /* Her şey dahil */
}

@media (max-width: 768px) {
  .yol-tarifi-btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .yol-tarifi-btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }
}
